<section class="food-section spad">
    <div class="container">
        <div class="row">
            {volist name="food" id="vo"}
            <div class="col-md-3 col-sm-6 uk-animation-toggle">
                <a href="{:url('/index/food/index',array('id'=>$vo['id']))}"
                    class="blog-item uk-animation-fast uk-animation-shake">
                    <img data-src="{$vo.image}" style="width: 350px; height: 180px;" uk-img>
                    <div class="blog-item-text">
                        <h3>{$vo.name}</h3>
                        <p class="substr-5">{$vo.intro}</p>
                    </div>
                </a>
            </div>
            {/volist}
        </div>
    </div>
</section>