<section class="text-section spad">
    <div class="container">
        <div class="section-title">
            <h2>历史渊源</h2>
            <p>History</p>
        </div>
        <div class="row timeline">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                uk-slider="clsActivated: uk-transition-active; center: true">
                <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-1">
                        <div class="uk-panel">
                            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
                            <div
                                class="uk-width-1-2 uk-overlay uk-overlay-primary uk-position-left uk-text-justify uk-transition-slide-left">
                                <h3>秦</h3>
                                <p>两千多年前，西湖还是钱塘江的一部分。由于土壤的沉积，吴山和宝石山的脚下，周围的山在湖的南北两侧，逐渐伸展形成浅滩头。后来，这些沙砾慢慢地汇合成一个堤岸，西边出现了一个泻湖;这是秦汉时期的西湖。西湖夢尋,由张戴,与秦始皇访问该地区的故事和他的船停靠在石头后来发展成大的石佛寺。这块石头位于西湖北面的宝石山上，至今仍能看到。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="uk-width-1">
                        <div class="uk-panel">
                            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
                            <div
                                class="uk-width-1-2 uk-overlay uk-overlay-primary uk-position-right uk-text-justify uk-transition-slide-right">
                                <h3>隋</h3>
                                <p>短命的隋朝以其短暂存在期间完成的伟大工程而闻名。公元610年以后，江南运河开通并与北运河相连。因此，中国的五大河流(海、黄、淮河、长江、钱塘江)连接在一起，便利了杭州的交通，促进了区域经济的发展。杭州的旅游业也开始蓬勃发展。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="uk-width-1">
                        <div class="uk-panel">
                            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
                            <div
                                class="uk-width-1-2 uk-overlay uk-overlay-primary uk-position-left uk-text-justify uk-transition-slide-left">
                                <h3>唐</h3>
                                <p>唐代西湖面积约为10.8平方公里。湖的西部和南部都延伸到西山脚下。东北延伸至武林门地区。朝圣者可以乘船到山脚，然后步行到山上做礼拜。由于堰塞湖的不断淤积，加之几乎没有任何水利工程，在那些日子里，这个湖会在大雨过后泛滥，在长时间的干旱中干涸。781年9月,李泌被任命为杭州的州长。为了供应淡水，他创造性地把水引入城市。他下令在钱塘门、永进门等人口稠密地区挖6口井，并建立“暗渠”，将湖水引入城市。六口井今天早就消失了。当时仅存的遗迹是位于解放路金亭桥西侧的祥国井。其余5口井分别为西井、方井(或四眼井)、金牛井(西井西侧)、白桂井、小房井(或六眼井，钱塘门内，现小车桥区)。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="uk-width-1">
                        <div class="uk-panel">
                            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
                            <div
                                class="uk-width-1-2 uk-overlay uk-overlay-primary uk-position-right uk-text-justify uk-transition-slide-right">
                                <h3>五代十国</h3>
                                <p>杭州发展历史上最突出的时期是吴越王朝(907-960)和南宋时期，对西湖产生了巨大的影响。西湖的全面开发和基本布局发生在这两个朝代。五代十国时期，吴越王国建都杭州。促进了沿海地区的交通运输，促进了与日本、韩国等国的贸易往来。与此同时，吴越王朝的历代统治者都向佛教进贡，在湖区周围修建了大量的寺庙、宝塔、神龛和石窟。他们扩建了灵隐寺，建立了肇庆寺、京慈寺、立安寺、六通寺、桃光寺，修建了宝塔、六合塔、雷峰塔、白塔。这个地区因此被称为“佛教国家”。灵隐寺、天竺寺、钱塘江潮是当时最著名的景点。由于其地质特征，在西湖中迅速沉积，疏浚成为一项日常维护工作。因此，公元927年，吴越王钱柳建立了一支1000人的清淤大队，负责割草、深泉，并保存了湖的水体。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="uk-width-1">
                        <div class="uk-panel">
                            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
                            <div class="uk-width-1-2 uk-overlay uk-overlay-primary uk-position-left uk-text-justify uk-transition-slide-left">
                                <h3>清</h3>
                                <p>清朝的康熙皇帝和乾隆皇帝到中国南方旅行，多次在杭州停留;这有助于加快西湖的改造和修复。康熙皇帝曾五次访问杭州，并写下了南宋“西湖十景”的名字。然后，地方官在石碑上刻下皇帝的笔迹，并在石碑上建造亭子。此后，“双峰穿云”、“秋月映湖”等景点便固定了位置供观赏。雍正年间，“西湖十八景”发展成为一种新的称谓，丰富了旅游资源。乾隆皇帝曾六次访问杭州，创作诗歌，为“十景”立碑。他还为“龙井八景”题名，为龙井地区(龙井)的偏远山区带来了知名度。在乾隆时期，杭州人瞿浩和屈翰兄弟合著了一本名为《看湖看山》的书，记录了西湖周围1016个旅游景点。这是杭州已知的最早的旅游指南。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="uk-width-1">
                        <div class="uk-panel">
                            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
                            <div
                                class="uk-width-1-2 uk-overlay uk-overlay-primary uk-position-right uk-text-justify uk-transition-slide-right">
                                <h3>民国</h3>
                                <p>浙江军政府政事部主持拆除钱塘门至涌金门城墙和旗营城垣，辟新市场，沿湖筑湖滨路，离湖20米处设栏，内杂莳花木，称湖滨公园。浙江省政府在第三公园码头建立陈英士铜像；次年，国民党浙江省党部于第二码头建“北伐阵亡将士纪念塔”。杭州市政府在长生路之北至钱塘门头，用浚湖之泥填为平地，约21亩余，辟为第六公园。杭州市政府开始在第五公园码头，筹建八十八师“淞沪战役阵亡将士纪念碑”。
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slider-item="next"></a>
                <div class="uk-position-bottom-center uk-position-medium">
                        <ul class="uk-dotnav">
                            <li uk-slider-item="0"><a href="#"></a></li>
                            <li uk-slider-item="1"><a href="#"></a></li>
                            <li uk-slider-item="2"><a href="#"></a></li>
                            <li uk-slider-item="3"><a href="#"></a></li>
                            <li uk-slider-item="4"><a href="#"></a></li>
                            <li uk-slider-item="5"><a href="#"></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-section spad">
    <div class="container">
        <div class="section-title">
            <h2>演变历史</h2>
            <p>Trans</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img data-src="__STATIC__/intro/1.jpg" uk-img>
            </div>
            <div class="col-md-6">
                <p>1. 五代吴越国，西湖多年不修，为葑草蔓蔽。</p>
                <p>2. 宋景德间，钱氏归宋后，废湖兵，西湖又复湮塞。湖面一半为僧民所占。</p>
                <p>3. 宋庆历间，葑土日塞，多为豪族占据，湖水益狭。</p>
                <p>4. 宋熙宁间，六井及沈公井俱废。</p>
                <p>5. 宋元祐间，湖上葑田约二十五万余丈（约四千一百多亩），几近半个西湖被塞。江河行船不通，六井亦几于废。</p>
                <p>6. 南宋乾道元年以后，临安居民日盛，河流渐塞，舟行困难，西湖淤积。</p>
                <p>7. 南宋淳祐间，大旱，湖水尽涸。</p>
                <p>8. 元代，苏堤以西湖面尽为桑田；苏堤六桥之下，水流如线。</p>
                <p>9. 明初，西湖渐成平田，水塞不通。</p>
                <p>10. 清雍正年间（1723—1735年），西湖葑滩严重。440余亩湖面被占为田荡（合约0.29平方千米）3120余亩湖面淤塞成浅沙滩（合约2.08平方千米）。</p>
            </div>
        </div>
        <div class="row" style="margin-top:30px">
            <div class="col-md-6">
                <p>11. 民国元年（1912年），浙江军政府政事部主持拆除钱塘门至涌金门城墙和旗营城垣，辟新市场，沿湖筑湖滨路，离湖20米处设栏，内杂莳花木，称湖滨公园。</p>
                <p>12. 民国十七年（1928年），浙江省政府在第三公园码头建立陈英士铜像；次年，国民党浙江省党部于第二码头建“北伐阵亡将士纪念塔”。</p>
                <p>13. 民国十九年（1930年）春，杭州市政府在长生路之北至钱塘门头，用浚湖之泥填为平地，约21亩余，辟为第六公园。</p>
                <p>14. 民国二十二年（1933年），杭州市政府开始在第五公园码头，筹建八十八师“淞沪战役阵亡将士纪念碑”。</p>
                <p>15. 2002年开始，杭州实行环湖公园景点免费开放。</p>
            </div>
            <div class="col-md-6">
                <img data-src="__STATIC__/intro/2.jpg" uk-img>
            </div>
        </div>
    </div>
</section>