<section class="text-section spad">
    <div class="container">
        <div class="section-title">
            <h2>西湖介绍</h2>
            <p>Intro</p>
        </div>
        <div class="row">
            <p>杭州西湖风景名胜区位于浙江省杭州市中心，分为湖滨区、湖心区、北山区、南山区和钱塘区；秀丽的湖光山色和众多的名胜古迹闻名中外，是中国著名的旅游胜地，也被誉为人间天堂。景区内群山高度都不超过400米，环布在西湖的南、西、北三面，其中的吴山和宝石山象两只手臂，一南一北，伸向市区，构成优美的杭城空间轮廓线。景区总面积达49平方公里，其中湖面6.5平方公里，以湖为主体，旧称武林水、钱塘湖、西子湖，宋代始称西湖。由大量乔灌木组成疏落有致、大小不同的空间；以植物造景为主，辅以亭、台、楼、阁、廊、榭、桥、汀。西湖傍杭州而盛，杭州因西湖而名。“天下西湖三十六，就中最美是杭州”。2007年5月8日经国家旅游局正式批准为国家AAAAA级旅游景区。2011年6月24日“中国杭州西湖文化景观”正式被列入《世界遗产名录》。</p>
        </div>
        <div class="row" style="margin-top:20px;">
            <img data-src="__STATIC__/intro/banner.jpg" uk-img>
        </div>
    </div>
</section>

<section class="text-section spad">
    <div class="container">
        <div class="section-title">
            <h2>西湖地理</h2>
            <p>Geography</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>地质地貌</h3>
                <p>西湖南、西、北三面环山，东邻城区，南部和钱塘江隔山相邻，湖中白堤、苏堤、杨公堤、赵公堤将湖面分割成若干水面，湖中有三岛，西湖群山以西湖为中心，由近及远可分为四个层次，海拔高度从50至400米依次抬升，形成“重重叠叠山”的地貌景观。西湖与群山的第一层次相连，与后三个层次的距离，分别为1650米、3450米和5600米，在湖中看山景，仰角在5°以内
                </p>
            </div>
            <div class="col-md-4">
                <h3>水文特征</h3>
                <p>西湖汇水面积为21.22平方千米，流域内年径流量为1400万立方米，蓄水量近1400万立方米，水的自然交替为1次/年。西湖的湖体轮廓呈近椭圆形，湖底部较为平坦。湖泊天然地表水源是金沙涧、龙泓涧、赤山涧（慧因涧）、长桥溪四条溪流。湖泊水位保持在黄海标高7.15米，±0.05米，最高水位7.70米，最低水位6.92米，高低相差50厘米。库容量约1429.4万立方米。
                </p>
            </div>
            <div class="col-md-4">
                <h3>气候特点</h3>
                <p>西湖地处中国东南丘陵边缘和亚热带北缘，年均太阳总幅射量在100—110千卡/平方厘米之间，日照时数1800—2100小时，光照充足，年均气温16.2℃，年均无霜期245天。常年四季分明，晴雨相间，冬、夏季风交替显著，雨量充沛，年降水量约1500毫米，空气湿润。西湖生态系统可分为三个子系统：森林生态系统、淡水生态系统及湿地生态系统，以森林生态系统为主。
                </p>
            </div>
        </div>
    </div>
</section>

<section class="text-section spad">
    <div class="container">
        <div class="section-title">
            <h2>自然资源</h2>
            <p>Geography</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>动物资源</h3>
                <p>西湖景区内共有鸟类119种，哺乳类动物20余种。西湖水面就有水鸟38种。丁家山、乌龟山等是鹭鸟的栖息地，鹭鸟数目在两万只以上。目前，从西湖采样调查到的水生植物，至少72种，隶属30个科；其中挺水植物最多，有54种。动物方面，仅鱼类就有56种，除了“原住民”野杂鱼等自然繁殖的鱼类，最多的还是每年放养的鱼苗。仅去年冬天，西湖里就投放了近十万尾，以花鲢、白鲢为主，他们吃浮游植物，可以净化水质；另外还零星放了鳊鱼、鲫鱼、青鱼、黄尾密鲴（黄尾巴）等鱼苗，它们主要吃螺蛳、小鱼、小虾。
                </p>
            </div>
            <div class="col-md-6">
                <h3>植物资源</h3>
                <p>西湖在石灰岩地区，发育着一些落叶阔叶树种。西湖周边群山森林生态系统主要以常绿阔叶落叶阔叶混交林为主，间有亚热带常绿阔叶林、落叶阔叶林、针阔叶混交林等。西湖景区内种子植物物种共有184科739属1369种，其中裸子植物7科19属28种，被子植物150科675属1273种，蕨类27科45属68种。有国家一级保护珍稀植物浙江楠、野大豆、短穗竹等21种，国家二级保护植物63种。列为国家级或省级保护珍稀植物预备清单有浙江润楠、堇叶紫金牛、线萼南蛇藤、脉叶翅棱芹、寒竹等5种。
                </p>
            </div>
        </div>
    </div>
</section>