<section class="culture-section spad">
    <div class="container">
        <div class="section-title">
            <h1 class="food-name">{$culture.title}</h1>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 center">
                <img data-src="{$culture.image}" uk-img>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-top:50px;">
                {$culture.content}
            </div>
        </div>
    </div>
</section>