<section class="culture-section spad">
    <div class="container">
        <div class="row">
            {volist name="culture" id="vo"}
            <div class="col-md-4 col-sm-6 uk-animation-toggle">
                <a href="{:url('/index/culture/index',array('id'=>$vo['id']))}"
                    class="blog-item uk-animation-fast uk-animation-shake">
                    <img data-src="{$vo.image}" style="width: 450px;height: 250px;" uk-img>
                    <div class="blog-item-text">
                        <h3>{$vo.title}</h3>
                        <p class="substr-5">{$vo.content | strip_tags}</p>
                    </div>
                </a>
            </div>
            {/volist}
        </div>
    </div>
</section>