<section class="shop-section spad">
    <div class="container">
        <div class="section-title">
            <h2>周边商城</h2>
            <p>Shop</p>
        </div>
        <div class="row">
            <p>西湖优品是销售西湖主题商品的商城小程序，通过网站和公众号进行引流促成消费，用户只需扫码即可快速购买商品。商品内容涵盖美食特产、主题文创、古风服饰、户外用品等。</p>
        </div>
        <div class="row" uk-lightbox>
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4">
                <a href="http://qiniu.izhaoo.com/shop.mp4" data-caption="Video">
                    <img data-src="http://qiniu.izhaoo.com/shop.jpg" style="width: 450px;height: 800px;" uk-img>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="shop-section spad">
    <div class="container">
        <div class="section-title">
            <h2>商城后台</h2>
            <p>Shop - Backend</p>
        </div>
        <div class="row">
            <p>西湖优品后台以Web方式构建，提供商品上架、发货等管理功能。</p>
        </div>
        <div class="row" uk-lightbox>
            <a href="https://wlshop.izhaoo.com" data-caption="商城后台" data-type="iframe">
                <img data-src="http://qiniu.izhaoo.com/shop-backend.jpg" uk-img>
            </a>
        </div>
    </div>
</section>

<section class="shop-section spad">
    <div class="container">
        <div class="section-title">
            <h2>微信公众号</h2>
            <p>Wechat</p>
        </div>
        <div class="row">
            <p>服务公众号用于营销推送，用户也可以在线联系客服，请求咨询和帮助。</p>
        </div>
        <div class="row" uk-lightbox>
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4">
                <a href="http://qiniu.izhaoo.com/gzh.mp4" data-caption="Video">
                    <img data-src="http://qiniu.izhaoo.com/gzh.jpg" style="width: 450px;height: 800px;" uk-img>
                </a>
            </div>
        </div>
    </div>
</section>

<style>
.shop-section .row {
    text-align: center;
}
</style>