<script src="__INDEX__/js/jquery-2.1.4.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/uikit.min.js"></script>
<script src="__INDEX__/js/imagesloaded.pkgd.min.js"></script>
<script src="__INDEX__/js/isotope.pkgd.min.js"></script>
<script src="__INDEX__/js/magnific-popup.min.js"></script>
<script src="__INDEX__/js/main.js"></script>
<script src="http://api.map.baidu.com/getscript?v=2.0&ak=Vlt2R4iqsda90qsu61WaFiW6nFPxCxgv"></script>
<script src="__CDN__/assets/js/require.js" data-main="__CDN__/assets/js/require-frontend.js"></script>